@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Noto+Sans+SC');

.ant-menu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 64px;
  padding-right: 10vw;
  padding-left: 10vw;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.86);
  z-index: 100;
}

.main {
  margin-top: 84px;
  margin-bottom: 96px;
  padding-right: 10vw;
  padding-left: 10vw;
}